*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    background-color: #ffffff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

input{
    font-family: inherit;
    padding-left: 16px;
}

button{
    cursor: pointer;
}

.header-container{
    display: flex;
    align-items: center;
    font-style: normal;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
}

.page-nav, .header-contacts{
    display: none;
}


.header-page{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
    padding: 16px 0;

}

.header-logo .studio{
    color: #2e2f42;
}

.link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.link-studio {
    position: relative;
    color: #404bbf;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus{
    color: #404bbf;
}

.link-studio::after{
  content: '';
  width:100%;
  height:4px;
  background-color: #404bbf;
  border-radius: 2px; 
  position:absolute;
  left:0;
  bottom:-1px;
}

.contact-link:hover,
.contact-link:focus{
    color: #404bbf;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2e2f42;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
    width: 24px;
    height: 24px;
    border: 1px solid #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    stroke: #2e2f2e;
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.mobile-menu-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.mobile-menu-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-contact-item{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.mobile-menu-social-links {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-social-icons {}

.mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;    
    border-radius: 50%;
}

.mobile-menu-link:hover,
.mobile-menu-contact-link:hover{
    color: #404bbf;
}    


a{
    text-decoration: none;
    color: #434455;
}

.main-page{
    background-color: #2e2f42;
    /* padding: 188px 0; */
    padding: 72px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-image:linear-gradient(to bottom,rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/mobile-bg.jpg");
    box-shadow: rgba(46, 47, 66, 0.7);
    text-align: center;
    margin: 0 auto;
    max-width: 320px;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .main-page{
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/mobile-bg2.jpg");
    }
}

.main-text{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #fff;
    max-width: 216px;
    margin: 0 auto;
}

.main-button{
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 72px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus{
    background-color: #404bbf;
}

h2{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.features{
    padding: 96px 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

.features .container{
    display: flex;
    flex-direction: column;
}

.features-page{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.cont-icon{
    display: none;
}

.benefits-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.benefits-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-page {
    background: #f4f4fd;
    padding: 96px 0;
}

.team-page-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-members{
    background-color: #fff;
    width: 264px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-page .container{
    display: block; 
}

.cont-team{
    padding: 32px 0;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-list{
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color:#404bbf;
}

.portfolio{
    padding: 96px 0;
}

.portfolio .container{
    display: block;
}

.portfolio-page{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
} 

.portfolio-items{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay{
    padding: 40px 32px;
    position: absolute;
    background-color: #4d5ae5;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .portfolio-overlay{
    transform: translateY(0%);
}

.cont-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-discription{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color: #2e2f42;
    padding: 53px 0;
}

.footer-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.footer-logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        margin-bottom: 16px;
        justify-content: center;
}

.footer-logo .studio{
    color: #f4f4fd;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social-text{
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
}

.social-links-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right .social-link:hover{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus{
    background-color: #31D0AA;
}

.icon{
    fill: #f4f4fd;
}

.footer-subscribe {
    text-align: center;
}

.footer-subscribe-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.form{
    gap: 24px;
}

.email-input{
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        margin-bottom: 16px;
}

.subscribe-button {
    border-radius: 4px;
        padding: 8px 24px;
    min-width: 165px;
        height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icon-send{
    margin-left: 16px;
}

input::placeholder{
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
}

.backdrop {
    background: rgba(46, 47, 66, 0.4); 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button{
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-text{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {
    margin-top: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
    display: block;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4D5AE5;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + svg{
    fill: #4D5AE5;
}

.modal-field-textarea{
    margin-bottom: 16px;
}

.comment-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus{
    border-color: #4D5AE5;
}

.comment-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.modal-field-checkbox{
    margin-bottom: 24px;
}

.modal-check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.modal-check-item{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-check-item{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send-button{
    border-radius: 4px;
        padding: 16px 32px;
    min-width: 169px;
        height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
    border: none;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #ffffff;
    display: block;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:focus{
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }

    .page-nav{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-contacts {
        display: block;
        font-style: normal;
    }

    .contacts-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contact-link{
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .burger-btn{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

    .main-page{
        max-width: 768px;
        padding: 112px 120px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/tablet-bg.jpg");
    }

    @media screen and (min-resolution: 2x),
    (-webkit-min-device-pixel-ratio: 2x) {
        .main-page {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/tablet-bg2.jpg");
        }
    }

    .main-text{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .main-button{
        margin-top: 36px;
    }

    .team-page .container, .footer .container{
        max-width: 584px;
    }

    .features-items {
        width: calc((100% - 24px) / 2);
    }

    .features-page{
        gap: 24px;
    }

    .team-list{
        row-gap: 64px;
        column-gap: 24px;
        justify-content: center;
    }

    .portfolio-page{
        gap: 24px;
        row-gap: 72px;
    }

    .portfolio-items{
        width: calc((100% - 24px) / 2);
    }

    .footer{
        padding: 96px 0;
    }

    .footer-wrap{
        column-gap: 24px;
        justify-content: flex-start;
    }

    .footer-logo{
        display: inline-block;
    }

    .footer-social-text{
        display: inline-block;
    }

    .footer-subscribe{
        text-align: start;
    }

    .form{
        display: flex;
    }

    .email-input{
        width: 264px;
    }

    .modal{
        padding: 72px 24px 24px 24px;
        width: 408px;
        min-height: 584px;
    }

}

@media screen and (min-width: 1158px){
    .container, .team-page .container, .footer .container{
        max-width: 1158px;
        padding: 0 15px;
    }

    .header-logo{
        margin-right: 76px;
    }
    
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contact-link {
        display: block;
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .main-page{
        max-width: 1440px;
        padding: 188px 316px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/office.jpg");
    }

@media screen and (min-resolution: 2x),
(-webkit-min-device-pixel-ratio: 2x) {
    .main-page {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/office2.jpg");
    }
}

    .main-button{
        margin-top:  48px;
    }

    .features{
        padding: 120px 0;
    }

    .features-items {
        width: calc((100% - 72px) / 4);
    }

    .features-page {
        gap: 24px;
    }

    .cont-icon {
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .benefits-title{
        font-weight: 500;
        font-size: 20px;
        text-align: left;
    }

    .benefits-text{
        font-weight: 400;
    }

    .team-page{
        padding: 120px 0;
    }

    .team-members{
        width: calc((100% - 72px) / 4);
    }

    .portfolio-page{
        row-gap: 48px;
    }

    .portfolio-items{
        width: calc((100% - 48px) / 3);
    }

    .cont-portfolio{
        box-shadow: none;
    }

    .portfolio-items:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .footer{
        padding: 100px 0;
    }

    .footer-wrap{
        gap: 0;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-subscribe{
        margin-left: auto;
    }

}